    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-indicators">
            <button
                    type="button"
                    data-mdb-target="#carouselExampleCaptions"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-mdb-target="#carouselExampleCaptions"
                    data-mdb-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-mdb-target="#carouselExampleCaptions"
                    data-mdb-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            {{range $i, $banner := .}}
            <div class="carousel-item {{ if eq (addIndex $i 1) 1 }}active{{end}}">
                <img src="/img/banners/{{$banner.Image}}" class="d-block w-100" alt="Wild Landscape"/>
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
                <div class="carousel-caption-custom">
                    <p class="custom-text-carousel m-0">
                        <strong>Kualitas Tinggi, Gaya Tanpa Batas.</strong>
                    </p>

                    <p class="custom-text d-md-block mb-4">
                        <strong>Menghadirkan Gaya yang Berbeda, Tampilan yang Mempesona - Temukan Pilihan Terbaik untuk Setiap Kegiatan dalam Koleksi Kami.</strong>
                    </p>

<!--                    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial-->
<!--                        <i class="fas fa-graduation-cap ms-2"></i>-->
<!--                    </a>-->
                </div>
            </div>
            {{end}}
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
