{{template "partials/header_admin" .sessionData}}
<!--Main layout-->
<main class="mt-5 pt-4">

    <div x-data="cartStore" class="container">
        <!-- Heading -->

        <!--Grid column Row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">
                <h3>Buat Pesanan</h3>
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="badge rounded-pill badge-primary" x-text="getLen"></span>
                </h4>

                <div x-show="cart.length > 0">
                <!-- Cart -->
                <ul class="list-group mb-3">
                    <template x-for="(item, index) in cart">
                        <li x-if="item.checked === true" class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <img :src="item.image" width="100" class="img-fluid" alt="" />
                                    <span x-text="item.name"></span>
                                    <br>
                                    <span>Harga Satuan : Rp. <span x-text="item.price"></span></span>
                                    <br>
                                    <span>Quantity : <span x-text="item.quantity"></span></span>
                                    <br>
                                    <span>Jumlah Harga : Rp. <span x-text="item.price * item.quantity"></span></span>
                                </div>
                                <div class="col-auto d-flex align-items-center">
                                    <button class="btn btn-danger align-self-center" @click="removeFromCart(index)"><i class="far fa-trash-can"></i></button>
                                </div>
                            </div>
                        </li>
                    </template>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Ongkir (IDR)</span>
                        <span><strong>Rp. </strong><strong x-text="costOngkir"></strong></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Sub Total (IDR)</span>
                        <span><strong>Rp. </strong><strong x-text="calculateSubTotal"></strong></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (IDR)</span>
                        <span><strong>Rp. </strong><strong x-text="calculateTotal()"></strong></span>
                    </li>
                </ul>
                <!-- Cart -->
                </div>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <div x-show="cart.length === 0" class="row">
            <div class="col-md-12 text-center">
                <p>Belum ada order...</p>
            </div>
        </div>


        <div x-show="cart.length > 0" class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!--Card-->
                <div class="card p-4">
                    <!--Username-->
                    <div class="mb-4 border-bottom">
                        <p class="fs-5">Nama : {{.sessionData.UserData.Name}}</p>
                    </div>

                    <div class="mb-4 border-bottom">
                        <p class="fs-5">Phone : {{.sessionData.UserData.Phone}}</p>
                    </div>



                    <div class="green-border-focus mb-4">
                        <label for="alamat">Alamat :</label>
                        <textarea x-model="alamat" id="alamat" class="form-control" rows="3"></textarea>
                        <small>Masukan alamat lengkap untuk proses pengiriman </small>
                    </div>

                    <p class="mb-0">
                        Kota :
                    </p>
                    <div class="mb-4">
                        <label for="selectCity"></label>
                        <select id="selectCity" x-model="selectedCity" class="js-example-basic-single select">
                            <option selected>Pilih Kota</option>
                            {{range $index, $elem := .cities.Result}}
                            <option value="{{$elem.CityID}}">{{$elem.CityName}}</option>
                            {{end}}
                        </select>
                    </div>

                    <p  class="mb-0">
                        Kurir :
                    </p>
                    <div class="">
                        <label for="selectCourier"></label>
                        <div x-show="costOngkirShow">
                            <select id="selectCourier" x-model="selectedCourier" class="js-example-basic-single select">
                                <option value="[]" selected>Pilih Kurir</option>
                                <template x-for="result in destinations.JNE.results">
                                    <template x-for="jne in result.costs">
                                        <option :value="[result.code, jne.service]">JNE <span x-text="jne.service"></span></option>
                                    </template>
                                </template>
                                <template x-for="result in destinations.TIKI.results">
                                    <template x-for="tiki in result.costs">
                                        <option :value="[result.code, tiki.service]">TIKI <span x-text="tiki.service"></span></option>
                                    </template>
                                </template>
                                <template x-for="result in destinations.POS.results">
                                    <template x-for="pos in result.costs">
                                        <option :value="[result.code, pos.service]">POS <span x-text="pos.service"></span></option>
                                    </template>
                                </template>
                                <!-- Add other couriers here -->
                            </select>
                        </div>
                        <div x-show="costOngkirShow = false">
                            <p>Loading data Kurir....</p>
                        </div>
                    </div>
                    <hr>

<!--                    Result Cost Kurir-->
                    <div>
                        <template x-for="resultP in providerDetails.COURIER_PROVIDER">
                            <template x-for="p in resultP.cost">
                                <ul>
                                    <li>Harga : <span x-text="p.value"></span></li>
                                    <li>Estimasi : <span x-text="p.etd"></span> Hari</li>
                                </ul>
                            </template>
                        </template>
                    </div>

                    <hr class="mb-4" />
<!--                    <button @click="tesData">Tes Data</button>-->
                    <button :disabled="showButtonCheckout" class="btn btn-primary" type="button" data-mdb-toggle="modal" data-mdb-target="#checkoutModal">Continue to checkout</button>
                    <!-- Modal Submit -->
                    <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="createOrderLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createOrderLabel">Konfirmasi Chekcout</h5>
                                    <div x-show="loading" class="spinner-border text-info text-center" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                    <button @click="payButton" id="pay-button" type="button" class="btn btn-primary">Selesaikan Pembayaran</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  End Modal Submit-->
                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->
    </div>
</main>


<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    document.addEventListener('alpine:init', () => {
        Alpine.data('cartStore', () => ({
            cart: [],
            base_url: "{{.sessionData.Url}}",
            cartNotSelected: [],
            formData: {},
            courier: {
                code: '',
                service: ''
            },
            customerId: "{{.sessionData.UserData.Id}}",
            alamat: '',
            getLen: 0,
            selectedProvince: '',
            selectedCity: '',
            selectedCourier: '',
            getCourierCost: {},
            token_pay: '',
            providerDetails: {
                COURIER_PROVIDER: [
                    {
                        cost: [
                            {value: 0, etd: ''}
                        ]
                    },
                ]
            },
            destinations: {
                JNE: {
                    results: []
                },
                TIKI: {
                    results: []
                },
                POS: {
                    results: []
                },
            },
            loading: false,
            costOngkirShow: false,
            showButtonCheckout: true,
            init() {
                this.customerId
                this.$watch('cart.length', (newValue, oldValue) => {
                    if (newValue < 0) {
                        this.showButtonCheckout = true
                    }
                    this.getCartLength(newValue)
                })
                this.selectProvince()
                this.selectCity()
                this.selectCourier()

                const cartData = localStorage.getItem('cartSelected');
                if (cartData) {
                    this.cart = JSON.parse(cartData);
                }
            },
            getCartLength(newValue) {
                this.getLen = newValue
            },
            payButton(){
                this.loading = true
                this.formData = JSON.stringify({
                    items: this.cart,
                    customer_id: parseInt(this.customerId),
                    address: this.alamat,
                    courier_code: this.courier.code,
                    courier_service: this.courier.service,
                    cost_ongkir: this.costOngkirForForm()
                })

                this.sendData()
            },
            async sendData() {
                let resData = await (await fetch(`${this.base_url}/dashboard/payment`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: this.formData,
                })).json()
                this.token_pay = resData.token
                this.showSnap(resData.token)
                console.log(resData)

            },
            showSnap(snap_token){
                    window.snap.pay(`${snap_token}`, {
                        onSuccess: function (result) {
                            /* You may add your own implementation here */
                            alert("payment success!");
                            window.location.href = result.finish_redirect_url
                        },
                        onPending: async function (result) {
                            window.location.href = result.finish_redirect_url

                        },
                        onError: function (result) {
                            /* You may add your own implementation here */
                            alert("payment failed!"); console.log(result);
                        },
                        onClose: function () {
                            /* You may add your own implementation here */
                            alert('you closed the popup without finishing the payment');
                            window.location.href = '/dashboard/orders'
                        }
                    })
            },
            selectCity(){
                const selectECity = this.$el.querySelector('#selectCity');
                $(selectECity).select2();
                $(selectECity).on('change', (event) => {
                    this.selectedCity = event.target.value;
                    this.getDest(this.selectedCity)
                    this.costOngkirShow = true

                });
                this.$watch("selectedCity", (value) => {
                    console.log(value)
                });
            },
            selectCourier(){
                const selectECourier = this.$el.querySelector('#selectCourier');
                $(selectECourier).select2();
                $(selectECourier).on('change', (event) => {
                    this.selectedCourier = event.target.value;
                    const myArray = this.selectedCourier.split(",");
                    this.getProvider(this.selectedCity, myArray[0], myArray[1])
                });
                this.$watch("selectedCourier", (value) => {
                    if (value === "" || value === 0 || value === [] || value === "[]"){
                        this.showButtonCheckout = true
                    }else{
                        this.showButtonCheckout = false
                    }
                });
            },
            selectProvince() {
                const selectEProvince = this.$el.querySelector('#selectProvince');
                $(selectEProvince).select2();
                $(selectEProvince).on('change', (event) => {
                    this.selectedProvince = event.target.value;
                    this.getProvider()
                });
                this.$watch("selectedProvince", (value) => {
                    // console.log(value)

                });
            },
            async getDest(dest){
                this.destinations = await (await fetch(`${this.base_url}/api/getCost/${dest}`)).json()
                this.$watch('destinations', (value) => {
                    this.destinations = value
                })
            },
            async getProvider(dest, code, service){
                this.providerDetails = await (await fetch(`${this.base_url}/api/getProvider/${dest}/${code}/?provider=${service}`)).json()
                this.$watch('providerDetails', (value) => {
                    this.providerDetails = value
                })
                this.courier.code = code
                this.courier.service = service
            },

            redirect() {
                // Replace the URL below with the desired destination
                window.location.href = '/';
            },
            costOngkirForForm(){
                let totalOngkir = 0;
                this.providerDetails.COURIER_PROVIDER.forEach(item => {
                    item.cost.forEach(i => {
                        totalOngkir += i.value
                    })
                })

                return totalOngkir
            },
            costOngkir(){
                let totalOngkir = 0;
                this.providerDetails.COURIER_PROVIDER.forEach(item => {
                    item.cost.forEach(i => {
                        totalOngkir += i.value
                    })
                })

                return totalOngkir.toLocaleString('id-ID');
            },

            // Function to calculate the total price of the shopping cart
            calculateTotal() {
                let total = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    total += this.cart[i].price * this.cart[i].quantity;
                }
                this.providerDetails.COURIER_PROVIDER.forEach(item => {
                    item.cost.forEach(i => {
                        total += i.value
                    })
                })

                return total.toLocaleString('id-ID'); // Menampilkan total dengan format rupiah
            },

            calculateTotalForForm() {
                let total = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    total += this.cart[i].price * this.cart[i].quantity;
                }
                this.providerDetails.COURIER_PROVIDER.forEach(item => {
                    item.cost.forEach(i => {
                        total += i.value
                    })
                })

                return total; // Menampilkan total dengan format rupiah
            },
            calculateSubTotal() {
                let subTotal = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    subTotal += this.cart[i].price * this.cart[i].quantity;
                }
                return subTotal.toLocaleString('id-ID'); // Menampilkan total dengan format rupiah
            },

            // Function to remove an item from the shopping cart based on its index
            removeFromCart(index) {
                this.cart.splice(index, 1);
                this.saveCart();
                this.updateCart();
            },

            // Function to save the cart data to local storage
            saveCart() {
                localStorage.setItem('cartSelected', JSON.stringify(this.cart));
            },
            updateCart() {
                localStorage.setItem('cartSelected', JSON.stringify(this.cart));
            },
            $watch: {
                cart: function () {
                    localStorage.setItem('cartSelected', JSON.stringify(this.cart));
                }
            },
        }))
    });
</script>