{{template "partials/header_admin" .sessionData}}

<main class="mt-5 pt-4">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {{if eq .User.Image ""}}
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {{end}}
                        {{if ne .User.Image ""}}
                        <img src="/img/users/{{.User.Image}}" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        {{end}}
                        <h5 class="my-3">{{.User.Name}}</h5>
                        <p class="text-muted mb-1">{{if eq .User.Role "user"}} User {{end}}{{if eq .User.Role "admin"}}
                            Admin {{end}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button id="buttonEditUser" type="button" data-id="{{.User.Id}}" data-name="{{.User.Name}}"
                                data-email="{{.User.Email}}" data-phone="{{.User.Phone}}"
                                data-address="{{.User.Address}}" class="btn btn-primary">Edit Profil</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{.User.Name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{.User.Email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{.User.Phone}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{.User.Address}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Edit Category -->
    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="createBannerLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBannerLabel">Update Banner</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-user" method="post" action="/dashboard/profil-user-update"
                        enctype="multipart/form-data">
                        <input type="hidden" name="id" class="id">
                        <div class="form-outline mb-4">
                            <input type="text" name="name" class="form-control name" id="name" required>
                            <label for="name" class="form-label">Name</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" name="email" class="form-control email" id="email" required>
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="email" class="form-control phone" id="phone" required>
                            <label for="phone" class="form-label">Phone</label>
                        </div>
                        <!-- ==== -->
                        <label for="address">Address :</label>
                        <textarea name="address" id="address" class="form-control address" rows="3"></textarea>
                        <!-- ===== -->
                        <label for="image">Image</label>
                        <div class="form-outline mb-4">
                            <input type="file" name="image" class="form-control" id="image" required>
                        </div>
                        <!-- ==== -->
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input name="password" type="password" id="password" class="form-control" required />
                            <label class="form-label" for="password">New Password</label>
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <input name="password" type="password" id="confirm_password" class="form-control" />
                            <label class="form-label" for="confirm_password">Confirm new password</label>
                        </div>
                        <!-- ==== -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button onclick="updateUser()" type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal Edit Category-->
</main>

<script>
    function updateUser() {
        let formEditUser = document.getElementById("update-user");
        if (!confirm("Update User ?")) {
            return false;
        }
        formEditUser.submit();
    }
    $(document).ready(function () {
        $('#buttonEditUser').on('click', function () {
            let id = $(this).data("id")
            let name = $(this).data("name")
            let email = $(this).data("email")
            let phone = $(this).data("phone")
            let address = $(this).data("address")

            $("#editUser").modal("show");
            $(".id").val(id)
            $(".name").val(name)
            $(".email").val(email)
            $(".phone").val(phone)
            $(".address").val(address)
        });

    });
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>